@import "tailwindcss";

@theme {
    --color-blonde-yellow: #FAFAD2;
    --color-beige: #F5F5DC;
    --color-candy-pink: #FFB7CE;
    --color-charcoal-gray: #333333;
    --color-dark-blonde-yellow: #B89B44;
    --color-dark-beige: #A49E8D;
    --color-dark-candy-pink: #C35A71;
    --color-deep-charcoal: #1E1E1E;
}